extends layout

block content
    div(class='container' style='height:0px;margin-bottom:50%;')
        div(class='row')
            div(class='col-md-6 col-sm-6 col-xs-6')
                h4(style='margin-top:200px;line-height:1.5em') We are commercial real estate advisors to the creative industry. High growth technology companies have unique trajectories, and we act as a partner to your business by advising on location, price, and lease terms that match your companies growth strategy.
                br
                h4(style='line-height:1.5em') If you are company looking to lease office space, or would just like to connect, please send us an email. Thanks!
                br
                h4
                    a support@creativespacesla.com

                 