extends layout

block content
	div(class='container' style='height:0px;margin-bottom:50%;')
		div(class='row')
			div(class='col-md-12')
				h1(style='margin-top:200px;') We Know Every Brick of Creative Office Space in Los Angeles
			div(class='col-md-8')
				h4 We were born and raised in this city. We know every area like the back of our hand. We win because we have knowledge. We win because we have the expertise. We win because we have the passion to showcase office space that is principled in design. We draw a line in the sand when it comes to the quality of our inventory. Creative office IS an elevated standard of architecture and design. It IS NOT a marketing tool.
				br 
				h4 We build our technology inhouse and want to work with companies that are focused around technology. We want to discover your products and learn about your strategy. We are a real estate startup gifted with the opportunity to work with tech startups.
				br
				h4 Our team has brokered over 800 lease deals. We won't allow our clients to overpay or lose out on an opportunity because the market knowledge was not made available to them. We know every brick of creative office space in Los Angeles.  