extends layout

block content
    div(class='container')
        div(class='row' style='margin-top:100px;margin-bottom:18%')
            div(class='col-md-4')
                h3 resultSchema
                form(role='form' id='resultForm' action='#')
                    label name
                    input(name='name' type='text' class='adminForm' placeholder='String')
                    br
                    label address
                    input(name='address' type='text' class='adminForm' placeholder='String')
                    br
                    label city
                    input(name='city' type='text' class='adminForm' placeholder='String')
                    br
                    label footnote
                    input(name='footnote' type='text' class='adminForm' placeholder='String')
                    br
                    label pricePerMonth
                    input(name='pricePerMonth' type='text' class='adminForm' placeholder='Number')
                    br
                    label pricePerSF
                    input(name='pricePerSF' type='text' class='adminForm' placeholder='Number')
                    br
                    label buildingSize
                    input(name='buildingSize' type='text' class='adminForm' placeholder='String')
                    br
                    label thumbnail
                    input(name='thumbnail' type='text' class='adminForm' placeholder='String')
                    br
                    label SFofSpaces
                    input(name='SFofSpaces' type='text' class='adminForm' placeholder='[Number]')
                    button(type='submit' class='btn btn-default' style='color:white;background-color:#00B7FF;') Submit
            div(class='col-md-4')
                h3 listingSchema
                form(role='form' id='listingForm' action='#')
                    label name
                    input(name='name' type='text' class='adminForm' placeholder='String')
                    br
                    label address
                    input(name='address' type='text' class='adminForm' placeholder='String')
                    br
                    label city
                    input(name='city' type='text' class='adminForm' placeholder='String')
                    br
                    label description
                    input(name='description' type='text' class='adminForm' placeholder='String')
                    br
                    label availableSpaces
                    input(name='availableSpaces' type='text' class='adminForm' placeholder='[String]')
                    br
                    label amenities 
                    input(name='amenities' type='text' class='adminForm' placeholder='[String]')
                    br
                    label photos
                    input(name='photos' type='text' class='adminForm' placeholder='[String]')
                    br
                    label coordinates
                    input(name='coordinates' type='text' class='adminForm' placeholder='[coordinates]')
                    br
                    label buildingFlyer
                    input(name='buildingFlyer' type='text' class='adminForm' placeholder='String')
                    button(type='submit' class='btn btn-default' style='color:white;background-color:#00B7FF;') Submit






