extends layout

block content
    div(class='container')
        div(class='row' style='margin-top:100px;margin-bottom:18%')
            div(class='col-md-4')
                h3 resultSchema
                form(role='form' id='resultForm' action='#')
                    label name
                    input(name='name' type='text' class='adminForm' placeholder='String')
                    br
                    label address
                    input(name='address' type='text' class='adminForm' placeholder='String')
                    br
                    label city
                    input(name='city' type='text' class='adminForm' placeholder='String')
                    br
                    label footnote
                    input(name='footnote' type='text' class='adminForm' placeholder='String')
                    br
                    label pricePerMonth
                    input(name='pricePerMonth' type='text' class='adminForm' placeholder='Number')
                    br
                    label pricePerSF
                    input(name='pricePerSF' type='text' class='adminForm' placeholder='Number')
                    br
                    label buildingSize
                    input(name='buildingSize' type='text' class='adminForm' placeholder='String')
                    br
                    label thumbnail
                    input(name='thumbnail' type='text' class='adminForm' placeholder='String')
                    br
                    label SFofSpaces
                    input(name='SFofSpaces' type='text' class='adminForm' placeholder='[Number]')
                    button(type='submit' class='btn btn-default' style='color:white;background-color:#00B7FF;') Submit
                h4 Example
                p {
                p name: The Annex,
                p address: 5340 Alla Road,
                p city: Playa Vista,
                p footnote: The Annex is more than just a property, it's a true campus for a preeminent brand that's more than the sum of its parts.,
                p pricePerMonth: 26000,
                p pricePerSF: 4.00,
                p buildingSize: 80,850,
                p thumbnail: https://s3-us-west-1.amazonaws.com/creativespacesla/public/thumbnails/inside.jpg,
                p SFofSpaces: 8977, 12407, 9466, 50000
                p }
            div(class='col-md-4 col-md-offset-2')
                h3 listingSchema
                form(role='form' id='listingForm' action='#')
                    label name
                    input(name='name' type='text' class='adminForm' placeholder='String')
                    br
                    label address
                    input(name='address' type='text' class='adminForm' placeholder='String')
                    br
                    label city
                    input(name='city' type='text' class='adminForm' placeholder='String')
                    br
                    label description
                    input(name='description' type='text' class='adminForm' placeholder='String')
                    br
                    label availableSpaces
                    input(name='availableSpaces' type='text' class='adminForm' placeholder='[String]')
                    br
                    label amenities 
                    input(name='amenities' type='text' class='adminForm' placeholder='[String]')
                    br
                    label photos
                    input(name='photos' type='text' class='adminForm' placeholder='[String]')
                    br
                    label coordinates
                    input(name='coordinates' type='text' class='adminForm' placeholder='[coordinates]')
                    br
                    label buildingFlyer
                    input(name='buildingFlyer' type='text' class='adminForm' placeholder='String')
                    button(type='submit' class='btn btn-default' style='color:white;background-color:#00B7FF;') Submit
                h4 Example
                p {
                p name: The Annex,
                p address: 5340 Alla Road,
                p city: Playa Vista,
                p description: The Annex is more than just a property, it's a true campus for a preeminent brand that's more than the sum of its parts. The Annex is for a culture. It's an ideal property for media, tech, production, product development or creative agencies. It is adjacent to heavies like Deutsch, Sony, Facebook, Belkin, Digital Domain, and Toms Shoes.,
                p availableSpaces: Space 205 (8,977 SF), Space 108 (12,407 SF), Space 109 (9,466 SF), Space 210 (50,000 SF)
                p amenities: Reception, Conference, Kitchen,
                p coordinates: 33.977509, -118.425329,
                p buildingFlyer: https://s3-us-west-1.amazonaws.com/creativespacesla/public/buildingFlyers/canon_301_-_sl.pdf
                p }






