extends layout

block content
    div(class='container')
        div(class='row')
            div(class='col-md-12' style='height:100px;')
    div(class='container listingContainer' style='border-right:1px solid #E7E7E7;')
        form(action='/create' method='post')
            div(class='row' style='border-top:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;border-left:1px solid #E7E7E7')
                div(class='col-md-5 leftAdjust')
                    h4 Image Sources:
                        textarea(name='imageSrc' type='text' class='form-control' rows='3')
                    h4 Latitude
                        input(name='latitude' type='text')
                    h4 Longitude
                        input(name='longitude' type='text')
                    h4(style='margin-top:30px;') Available Spaces (Suite + SF):
                        textarea(name='spacesAvailable' type='text' class='form-control' rows='2')
                    br 
                    h4 Amenities:
                        textarea(name='amenities' type='text' class='form-control' rows='2')
                div(class='col-md-5' style='height:403px;max-height:100%;border-right:1px solid #E7E7E7;border-left:1px solid #E7E7E7')
                    h4 Address:
                        input(name='address' type='text')
                    select(name='city' class='form-control')
                        option Location
                        option Venice
                        option Santa Monica
                        option Culver City
                        option Hollywood
                        option Downtown/Arts District
                        option Echo Park
                        option Pasadena
                    h4 Description:
                        textarea(name='description' type='text' class='form-control' rows='3')
                    h4 Small Description:
                        textarea(name='smallDescription' type='text' class='form-control' rows='3')
                    h4 Price/SF/Month:
                        input(name='ratePerSF' type='text')
                    h4 Total Price/Month:
                        input(name='ratePerMonth' type='text')
                    h4 Square Footage Available:
                        input(name='squareFoot' type='number')
                div(class='col-md-2')
                    form(role='form')
                        div(class='form-group')
                            button(type='submit' class='btn btn-default' style='color:white;background-color:#9BCA4F;width:165px;margin-top:100px;') Create Listing
        div(class='container')
            div(class='row' style='border-right:1px solid #E7E7E7;border-bottom:1px solid #E7E7E7;margin-bottom:100px;border-left:1px solid #E7E7E7')
                div(class='col-md-5 leftAdjust')
                div(class='col-md-3' style='height:327px;border-left:1px solid #E7E7E7')


