extends layout

block content
    div(class='backgroundImage')
    div(class='container indexSearch')
        div(class='row' style='border:1px red')
            div(class='col-md-10 col-md-offset-2 col-xs-offset-1 col-xs-10 searchSpacing tabletSpacing col-sm-12')
                h1(class='mobileHide search-office-title tablet-title') Discover Creative Office Space in Los Angeles
        div(class='row tablet-margin-adjust')
        form(action='/results/0' method='get')
            div(class='col-md-offset-3 col-md-2 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-10' style='border:1px red')
                select(name='city' class='form-control locationList')
                    option Location
                    option Venice
                    option Santa Monica
                    option Playa Vista
                    option Culver City
                    option Downtown/Arts District
            div(class='col-md-4 col-sm-6 col-xs-offset-1 col-xs-11 col-centered' style='border:1px red')
                form(class='form-inline' role='form')
                    div(class='form-group')
                        div(class='input-group')
                            p(style='font-weight:bold') How many square feet?
                            input(name='minSF' class='inputFields')
                            label(style='margin:5px;') to
                            input(name='maxSF' class='inputFields')
                            br 
                            br
                            p(style='font-weight:bold') Price range?
                            input(name='minPrice' class='inputFields')
                            label(style='margin:5px;') to
                            input(name='maxPrice' class='inputFields')
                div(class='radio')
                    label(class='radio-inline')
                        input(name='price' value='ratePerMonth' type='radio' id='radio') 
                        span $/month
                    label(class='radio-inline')
                        input(name='price' value='ratePerSF' type='radio')
                        span $/sf/month
                button(type='submit' class='btn searchButton') search
    //- div(style='background:url("./images/thumbnail-resized.jpg") ; background-size:100% ; height: 0px; padding-top:23%; max-width:100%' class='index-background')






