extends layout

block content
    section(data-speed='4' data-type='background' class='background')
    section(data-speed='2' data-type='background' class='content')
        div(class='container')
            div(class='row')
                div(class='col-md-offset-4 col-sm-offset-4 col-md-2 col-xs-2')
                    select(class='form-control locationList')
                        option Location
                        option Venice
                        option Santa Monica
                        option Culver City
                        option Hollywood
                        option Downtown/Arts District
                        option Echo Park
                        option Pasadena
                div(class='col-md-6 col-sm-2 col-xs-2 col-centered')
                    form(class='form-inline' role='form')
                        div(class='form-group')
                            div(class='input-group')
                                p(style='font-weight:bold') Building Size (SF)
                                input(style='width:85px')
                                label(style='margin:5px;') to
                                input(style='width:85px')
                                br 
                                br
                                p(style='font-weight:bold') Price Range
                                input(style='width:85px')
                                label(style='margin:5px;') to
                                input(style='width:85px')
                    div(class='radio')
                        label(class='radio-inline')
                            input(type='radio') 
                            span $/month
                        label(class='radio-inline')
                            input(type='radio')
                            span $/sf/month
                    button(class='btn searchButton') search






