doctype html
html
  head
    title= title
    link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=News+Cycle|Fjalla+One' rel='stylesheet' type='text/css') 
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
  body
    nav(class='navbar navbar-default navbar-fixed-top')
        a(class='navbar-brand') Creative Spaces LA
    block content
    nav(class='navbar navbar-default bottomNav')
        div(class='container')
            div(class='row')
                div(class='col-md-2')
                    h4(class='bottomLinks') About
                    a About us
                    br 
                    a What we do
                    br  
                    a Blog
                    br 
                    a Privacy Policy
                div(class='col-md-2')
                    h4(class='bottomLinks') Resources
                    a Landlords
                    br
                    a Brokers
                    br
                    a Local Business
                div(class='col-md-2')
                    h4(class='bottomLinks') Contact
                    a Help
                    br
                    a Contact Us
                div(class='col-md-2')
                    h4(class='bottomLinks') Connect
                    a Twitter
                    br 
                    a Facebook
                    br 
                    a Google+
                    br
                    a Linkedin
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD90W6MypWGP6s4luD2kQHhZ9IFQrfr04g')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='/javascripts/main.js')
