doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0 , user-scalable=no')
    meta(name='description' content='#{meta}')
    link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(href='http://fonts.googleapis.com/css?family=News+Cycle|Fjalla+One' rel='stylesheet' type='text/css') 
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
  body
    nav(class='navbar navbar-default navbar-fixed-top' style='height:82px;')
        a(href='/' class='navbar-brand')
            img(src='/images/creativehorizontal.png' class='logo logo-mobile')
        //- form(role="form" id='subscribeForm' style='margin-top:2%;margin-right:15%;margin-left:60%')
        //-     div(class="form-group" style='margin-right:2%;')
        //-         input(type="text" class="form-control" placeholder="Email" id='email' name='email' style='width:55%;float:left;margin-right:2%;' required)
        //-         button(type="submit" id='subscribe-button' class="btn btn-default" style='color:white;background-color:#00B7FF') Join Email List!
    block content
    nav(class='navbar navbar-default bottomNav mobile-bottom-nav')
        div(class='container')
            div(class='row')
                //- div(class='col-md-2 col-xs-4')
                //-     h4(class='bottomLinks') About
                //-     a About us
                //-     br 
                //-     a What we do
                //-     br  
                //-     a Blog
                //-     br 
                //-     a Privacy Policy
                div(class='col-md-2 col-xs-4')
                    h4(class='bottomLinks') Resources
                    a About us
                    br
                    a Landlords
                    br
                    a Brokers
                    br
                    a Local Business
                div(class='col-md-2 col-xs-4')
                    h4(class='bottomLinks') Contact
                    a Help
                    br
                    a Contact Us
                div(class='col-md-2 socialLinks')
                    h4(class='bottomLinks') Connect
                    a Twitter
                    br 
                    a Facebook
                    br 
                    a Google+
                    br
                    a Linkedin
                div(class='col-md-5 col-md-offset-1 mobileHide' style='margin-top:2%;')
                    form(role="form" id='subscribeForm' style='')
                        div(class="form-group" style='margin-right:2%;')
                            h4(style='color:#938A83;margin-bottom:3%') JOIN OUR EMAIL LIST!
                            input(type="text" class="form-control" placeholder="Email" id='email' name='email' style='margin-bottom:3%' required)
                            button(type="submit" id='subscribe-button' class="btn btn-default" style='color:white;background-color:#00B7FF') Join Email List!
        div(class='container socialIcons')
            div(class='row')
                div(class='col-xs-offset-7 col-xs-1')
                    i(class='fa fa-twitter-square')
                div(class='col-xs-1')
                    i(class='fa fa-facebook-square')
                div(class='col-xs-1')
                    i(class='fa fa-google-plus-square')
                div(class='col-xs-1')
                    i(class='fa fa-linkedin-square')                    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(async src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='/javascripts/main.js')

//-         <!-- Begin MailChimp Signup Form -->
//- <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
//- <style type="text/css">
//-     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
//-     /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
//-        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
//- </style>
//- <div id="mc_embed_signup">
//- <form action="//creativespacesla.us10.list-manage.com/subscribe/post?u=ff2a1d01b6064c56670a3bdf1&amp;id=2f734cfb72" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
//-     <div id="mc_embed_signup_scroll">
//-     <label for="mce-EMAIL">Subscribe to our mailing list</label>
//-     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
//-     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
//-     <div style="position: absolute; left: -5000px;"><input type="text" name="b_ff2a1d01b6064c56670a3bdf1_2f734cfb72" tabindex="-1" value=""></div>
//-     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
//-     </div>
//- </form>
//- </div>

//- <!--End mc_embed_signup-->
