doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0 , user-scalable=no')
    meta(name='description' content='#{meta}')
    link(rel='stylesheet' , href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/images/creative-favicon.png")
    //- link(href='http://fonts.googleapis.com/css?family=News+Cycle|Fjalla+One' rel='stylesheet' type='text/css') 
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
  body
    nav(class='navbar navbar-default navbar-fixed-top' style='height:82px')
        a(href='/' class='navbar-brand')
            img(src='/images/creativehorizontal.png' class='logo logo-mobile')
        //- form(role="form" id='subscribeForm' style='margin-top:2%;margin-right:15%;margin-left:60%')
        //-     div(class="form-group" style='margin-right:2%;')
        //-         input(type="text" class="form-control" placeholder="Email" id='email' name='email' style='width:55%;float:left;margin-right:2%;' required)
        //-         button(type="submit" id='subscribe-button' class="btn btn-default" style='color:white;background-color:#00B7FF') Join Email List!
    block content
    nav(class='navbar navbar-default bottomNav mobile-bottom-nav')
        div(class='container')
            div(class='row')
                //- div(class='col-md-2 col-xs-4')
                //-     h4(class='bottomLinks') About
                //-     a About us
                //-     br 
                //-     a What we do
                //-     br  
                //-     a Blog
                //-     br 
                //-     a Privacy Policy
                div(class='col-md-2 col-sm-2 col-xs-4')
                    h4(class='bottomLinks') Resources
                    a(href='/about') About us
                    br
                    a(href='/contact') Landlords
                    br
                    a(href='/contact') Brokers
                    br
                    a(href='/contact') Local Business
                div(class='col-md-2 col-sm-2 col-xs-4')
                    h4(class='bottomLinks') Contact
                    a(href='/contact') Help
                    br
                    a(href='/contact') Contact Us
                div(class='col-md-2 socialLinks col-sm-2')
                    h4(class='bottomLinks') Connect
                    a(href='https://twitter.com/LA_spaces' target='_blank') Twitter
                    br 
                    a(href='https://www.facebook.com/creativespacesla?_rdr' target='_blank') Facebook
                    br 
                    a Google+
                    br
                    a(href='https://www.linkedin.com/company/6402505?trk=tyah&trkInfo=idx%3A1-1-1%2CtarId%3A1425928101790%2Ctas%3Acreative+spaces+L.A' target='_blank') Linkedin
                div(class='col-md-5 col-md-offset-1 mobileHide tabletHide' style='margin-top:1%;')
                    form(role="form" id='subscribeForm' style='')
                        div(class="form-group" style='margin-right:2%;')
                            h4(style='color:#938A83;margin-bottom:3%') Join our email list!
                            input(type="text" class="form-control" placeholder="Email" id='email' name='email' style='margin-bottom:3%' required)
                            button(type="submit" id='subscribe-button' class="btn btn-default" style='color:white;background-color:#00B7FF') Join Email List!
        div(class='container socialIcons')
            div(class='row')
                div(class='col-xs-offset-7 col-xs-1')
                    i(class='fa fa-twitter-square')
                        a(href='https://twitter.com/LA_spaces' target='_blank')
                div(class='col-xs-1')
                    i(class='fa fa-facebook-square')
                        a(href='https://www.facebook.com/creativespacesla?_rdr' target='_blank')
                div(class='col-xs-1')
                    i(class='fa fa-google-plus-square')
                div(class='col-xs-1')
                    i(class='fa fa-linkedin-square')  
                        a(href='https://www.linkedin.com/company/6402505?trk=tyah&trkInfo=idx%3A1-1-1%2CtarId%3A1425928101790%2Ctas%3Acreative+spaces+L.A' target='_blank')                  
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(async src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='/javascripts/main.js')

