body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;	
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.panel-group{
	margin-bottom: 0px !important;
}

.panelBackground{
	background-color: #F8F8F8;
}


/*vvvvvvvv MOBILE vvvvvvvvv*/

@media screen and (max-width: 480px){
	body{
		/*color: green;*/
	}

	.index-background{
		background:url("./images/thumbnail.jpg"); 
		background-size:100%; 
		height: 0px; 
		padding-top:23%;
		margin-bottom: -8%;
	}

	.map-border{
		border-right:none;
		border-bottom:none;
		margin-bottom:9%;
	}

	.border{
		border-top:none;
		border-bottom:none;
	}

	.mobile-map{
		margin-bottom: -12%;
	}

	.green-check-mark{
		float: right;
		margin-right: 40%;
		color:#9BCA4F;
	}

	.slider-size{
		height:220px;
	}

	.backgroundImage{
/*		background: url("./images/coverPhoto-compressor.jpg") 50% 0 no-repeat fixed;
		background-size:100%;
		height:385px;*/
		padding-bottom:25%
	}

	.logo-mobile{
		width: 290px;
		height: 45px;
	}

	.mobile-bottom-nav{
		/*margin-top: 5%;*/
		padding-bottom: 2% !important; 
		margin-top: 8%;
	}

	.searchSpacing{
		margin-top: 0%;
		margin-bottom: -6%;
	}

	.map-height{
		height: 250px;
	}

	.mobile-button-adjust{
		width: 100%;
	}

	.mobile-height-adjust{
		height: auto;
	}

	.space-contain-bottom{
		margin-bottom: 20%;
	}

	.carouselPhoto{
		width: 100% !important;
	}

	.backgroundImage{
		/*background: url('/images/mobileBackground.jpg')  50% 0 no-repeat fixed;*/
	  	/*background-size: 100%;*/
	  	/*height: 51px;*/
	  	/*padding-bottom: 65%;*/
	}

	.inputFields{
		width:36%;
		height: 28px;
	}

	.searchButton{
		color: white;
		background-color: #00B7FF;
		width: 100%;
		margin-top: 7%;
		margin-left: -6%;
		height:44px;
	}

	.socialLinks{
		display: none;
	}

	.titleDisplay{
		display: none;
	}

	.mobileHide{
		display: none;
	}

	.mobilePhotos{
		width:100%;
	}

	.locationList{
		/*margin-top: 15%;*/
		margin-bottom: 15%;
		margin-left:-9%;
		height:44px;
		width:243px;
	}

}

/*vvvvvvvv TABLET vvvvvvvv*/

@media (min-width: 768px) and (max-width: 979px) { 
	.tabletHide{
		display: none;
	}

	.search-office-title{
		color:#077CA9;
		margin-left:-1%;
		margin-top:6%;
	}
}

@media (max-width: 767px) {
	.tabletHide{
		display: none;
	}

	.search-office-title{
		color:#077CA9;
		margin-left:-1%;
		margin-top:6%;
	}
}

@media (min-width: 500px) and (max-width: 1025px) {
	.resultPhotos{
		/*box-shadow: none !important;*/
		margin-left: -12%;
	}

	.search-office-title{
		color:#077CA9;
		margin-left:-1%;
		margin-top:6%;
	}
}

/*vvvvvvvv REGULAR vvvvvvvv*/

@media screen and (min-width: 480px){ 

	.index-background{
		background:url("./images/thumbnail.jpg"); 
		background-size:100%; 
		height: 0px; 
		padding-top:23%;
	}

	.logo{
		width:364px;
		height:57px;
		max-width:100%;
	}

	.map-border{
		border-right:1px solid #E7E7E7;
		border-bottom:1px solid #E7E7E7;
		margin-bottom:9%;
	}

	.borders{
		border-top:1px solid #E7E7E7;
		border-bottom:1px solid #E7E7E7;
	}

	.green-check-mark{
		float: right;
		margin-right: 56%;
		color:#9BCA4F;
	}

	.slider-size{
		height:354px;
	}

	.search-office-title{
		color:#077CA9;
		margin-left:-4%;
		margin-top:6%;
	}

	.searchSpacing{
		margin-top: -5%;
		margin-bottom: 3%;
	}

	.map-height{
		height: 327px;
	}

	.mobile-button-adjust{
		width: 100%;
	}

	.mobile-height-adjust{
		height: 431px;
		/*padding-bottom: 29%; */
	}

	.mobile-height-adjust-row-2{
		height:508px !important;
	}

	.space-contain-bottom{
		margin-bottom: 8%;
	}

	.leftAdjust{
		padding-left: 0px !important;
	}

	.carouselPhoto{
		width:100%;
		/*height:327px;*/
		height:100%;
	}

	.carouselPhotoResize>img{
		width: auto;
		height:400px;
		max-height:400px;
	}

	.inputFields{
		width: 24%;
	}

	.searchButton{
		color: white;
		background-color: #00B7FF;
		width: 58%;
	}

	.result-search-button{
		color: white;
		background-color: #00B7FF;
		width: 77%;
	}

	.backgroundImage{
		background: url("/images/coverPhoto-compressor.jpg") 50% 0 no-repeat fixed;
		background-size:100%;
		height:385px;
		padding-bottom:32%
	}

	.socialIcons{
		display: none;
	}

	.mobileOnly{
		display: none;
	}

	.locationList{
		margin-top: 15%;
		margin-bottom: 15%;
		margin-left:40%;
	}

}


.parallax{
	height: 50vh;
	overflow-x:
	margin-top: 8%; hidden;
	overflow-y: auto;
	perspective: 1px;
}

.parallax_layer{
	  padding: 50vh 0;
	  position: absolute;
	  width: 100%;
/*	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;*/
}

.parallax_layer--base {
  transform: translateZ(0);
}
.parallax_layer--back {
  transform: translateZ(-1px);
}

.title{
	font-size: 200%;
	position: absolute;
	left: 50%;
	top: 50%;
	/*transform: translate(-50%,-50%);*/
}


.indexSearch{
	margin-top: 7%;
	padding-bottom: 4%;
	background: url('./images/thumbnail.jpg') 50% 0 no-repeat fixed;
}





.searchColumn{
	margin-top: 75px;
	border-right: 1px solid #E7E7E7;
	padding-bottom: 70%;
}

.resultPhotos{
	height: 120px;
	box-shadow: 4px 4px 4px #888888;
	max-width: 160px;
}

.background{
	background: url('https://s3-us-west-1.amazonaws.com/creativespacesla/public/images/beachPier.jpg')  50% 0 no-repeat fixed; 
	background-size: 100%;
	position: relative;
	padding: 100px 0;
}


.content{
	height: 600px;
	position: relative;
	padding: 50px 0;
}


.thumbs{
	border:2px solid white;
}

.navbar{
	margin-bottom: 0px;
}

.resultsList{
	margin-top: 75px;
	height:145px;
	border-bottom: 1px solid #E7E7E7;
}

.thumb{
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	width: 118px;
	height: 77px;
}

.thumbsRight{
	border-right:4px solid white;
}

.bottomNav{
	/*height: 150px;*/
	padding-top: 1%;
	padding-bottom: 4%;
}

.bottomLinks{
	color: #938A83;
	margin-top: 14%;
}

.hidePaginate{
	display: none;
}





/*4E9BCA looks good as blue*/

/*E88C0C looks good as brown*/




